# from: https://github.com/americanexpress/task-status-pr-checker
name: pr-checklist-dblcheck
on:
  pull_request:
    types:
      - opened
      - edited
  pull_request_review_comment:
    types:
      - created
      - deleted
      - edited
  issue_comment:
    types:
      - created
      - deleted
      - edited
jobs:
  task_checker:
    runs-on: ubuntu-latest
    name: Pull request checkout dblchecker
    permissions:
      # required, see: https://github.com/actions/first-interaction/issues/10#issuecomment-1085820129
      issues: write
      pull-requests: write
    steps:
      - uses: actions/github-script@v5
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const comments = github.rest.issues.listComments({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
            });
            console.log(comments);
